<div id="chatDetails">
  <div class="user">
    <h3>Users online</h3>
    <div *ngFor="let user of globalUsers" class="userTab" (click)="goToPrivate(user)">
          <div class="avatar" [ngStyle]="{'background-color':user | namecolor}">{{user | initials}}</div>
          <div class="userName">{{user}}</div>
    </div>
  </div>
</div>


  <!--<div class="users">
    <h3>Users online</h3>
    <div class="userHeads">
      <img *ngFor="let user of globalUsers" alt={{user}} src="http://placehold.it/30x30" (click)="goToPrivate(user)"><img>
    </div>
  </div>
  <div class="activity">
    <h3>Activity log</h3>
    <div class="activityLogs">
      <div class="log">
        <div>&#x25C8;</div>
        <div>User was kicked!</div>
        <div>19:23</div>
      </div>
      <div class="log">
        <div>&#x25C8;</div>
        <div>O.J Simpson joined</div>
        <div>19:25</div>
      </div>
    </div>
  </div>-->
