<div id="chatDetails">
  <div class="user">
    <h3 (click)="toggleDropDown('room')">Users in {{whereAmI}}: {{getActiveDetails().length}}</h3>
    <div class="toggler" [@roomToggle]="roomState">
      <div *ngFor="let user of getActiveDetails()" class="userTab" (click)="toggleDropDown()" [ngClass]="{bannedUser: isBanned(user)}">
        <div class="avatar" [ngStyle]="{'background-color':user | namecolor}">{{user | initials}}</div>
        <div class="userName">{{getUserName(user)}}</div>
        <i *ngIf="isAdmin(user)" class="fa fa-trophy noHover" aria-hidden="true"></i>
        <div *ngIf="isAdminAndNotMe(user)" class="actionButtons">
          <i (click)="opUser(user)" class="fa fa-user-o" aria-hidden="true">
          <span class="tooltip">Admin</span>
        </i>
          <i (click)="kickUser(user)" class="fa fa-trash-o" aria-hidden="true">
          <span class="tooltip">Kick</span>
        </i>
          <i (click)="banUser(user)" class="fa fa-ban" aria-hidden="true">
          <span class="tooltip">Ban</span>
        </i>
          <i (click)="unBanUser(user)" class="fa fa-circle-o" aria-hidden="true">
          <span class="tooltip">Unban</span>
        </i>
        </div>
      </div>
    </div>
  </div>

  <div class="user">
    <h3 (click)="toggleDropDown('online')">All users: {{globalUsers.length}}</h3>
    <div class="toggler" [@onlineToggle]="onlineState">
      <div *ngFor="let user of globalUsers" class="userTab" (click)="goToPrivate(user)">
        <div class="avatar" [ngStyle]="{'background-color':user | namecolor}">{{user | initials}}</div>
        <div class="userName">{{getUserName(user)}}</div>
        <i *ngIf="!isMyself(user)" (click)="goToPrivate(user)" class="fa fa-comment-o" aria-hidden="true"></i>
        <i *ngIf="isMyself(user)" class="fa fa-user-circle-o noHover" aria-hidden="true"></i>
      </div>
      <div *ngIf="globalUsers.length < 1" class="nobody">
        <div>No other users online.</div>
      </div>
    </div>
  </div>
</div>