<div id="chatDetails">
  <div class="user">
    <h3 (click)="toggleDropDown('room')">Users in {{whereAmI}}: {{getActiveDetails().length}}</h3>
    <div class="toggler" [@roomToggle]="roomState">
      <div *ngFor="let user of getActiveDetails()" class="userTab" (click)="toggleDropDown()" [ngClass]="{bannedUser: isBanned(user)}">
        <div class="avatar" [ngStyle]="{'background-color':user | namecolor}">{{user | initials}}</div>
        <div class="userName">{{getUserName(user)}}</div>
        <i *ngIf="isAdmin(user)" class="fa fa-trophy noHover" aria-hidden="true"></i>
        <div *ngIf="isAdminAndNotMe(user)" class="actionButtons">
            <i *ngIf="!isBanned(user)" (click)="toggleOpUser(user)" class="{{getFontAwesomeClass('admin', user)}}" aria-hidden="true">
              <span class="tooltip">{{getspanDescription('admin', user)}}</span>
            </i>
            <i *ngIf="!isBanned(user)" (click)="kickUser(user)" class="fa fa-trash-o" aria-hidden="true">
                <span class="tooltip">Kick</span>
            </i>
            <h2 *ngIf="isBanned(user)">Is Banned!</h2>
            <i (click)="toggleBanUser(user)" class="{{getFontAwesomeClass('ban', user)}}" aria-hidden="true">
                <span class="tooltip">{{getspanDescription('ban', user)}}</span>
            </i>
        </div>
      </div>
    </div>
  </div>

  <div class="user">
    <h3 (click)="toggleDropDown('online')">All users: {{globalUsers.length}}</h3>
    <div class="toggler" [@onlineToggle]="onlineState">
      <div *ngFor="let user of globalUsers" class="userTab" (click)="goToPrivate(user)">
        <div class="avatar" [ngStyle]="{'background-color':user | namecolor}">{{user | initials}}</div>
        <div class="userName">{{getUserName(user)}}</div>
        <i *ngIf="!isMyself(user)" (click)="goToPrivate(user)" class="fa fa-comment-o" aria-hidden="true"></i>
        <i *ngIf="isMyself(user)" class="fa fa-user-circle-o noHover" aria-hidden="true"></i>
      </div>
      <div *ngIf="globalUsers.length < 1" class="nobody">
        <div>No other users online.</div>
      </div>
    </div>
  </div>
</div>