@import '../../variables.sass'


.container
  height: 100%
  
#nav
  display: flex
  justify-content: space-around
  align-items: center 
  height: 5%
  width: 100%
  text-align: center
  background-color: $color-main-accent
  div
    display: flex
    align-content: center
    &:nth-of-type(3)
      justify-content: flex-end
    img
      margin: $padding-normal
  .navLeft
      width: $size-picker
      margin-left: 7.5px
  .navCenter
      width: $size-current
  .navRight
    width: $size-details 
    text-align: right
    img
      border-radius: 50%
  

  

#content
  display: flex
  justify-content: space-between
  align-items: center
  width: 100%
  height: 95%
  background-color: $color-bg

app-chatPicker
  width: $size-picker
  height: 100%

app-chatDetails
  width: $size-details
  height: 100%

app-currentChat
  width: $size-current
  height: 100%
