<div id="nav">
    <h1 class="brand">OnRi Chat</h1>
    <h2 class="roomName">Room Name</h2>
    <div class="profile">X O $</div>
</div>

<div *ngIf="!isLoggedIn">
    <input input id="name" type="text" [(ngModel)]="userName">
    <button (click)="logIn()">Login</button>
    <div>{{model | json}}</div>
    <div *ngIf="userNameTaken">I can see this</div>
</div>


<div id="content" *ngIf="isLoggedIn">
    <app-chatpicker></app-chatpicker>
    <app-currentchat></app-currentchat>
    <app-chatdetails></app-chatdetails>
</div>