<div class="container">
    <div *ngIf="loggedIn" id="nav">
        <div class="navLeft">
            <h1 class="brand">OnRi Chat</h1>
        </div>
        <div class="navCenter">
            <img class="roomImage" src="http://placehold.it/30x30">
            <h2 class="roomName">{{roomObj.room}} - {{roomObj.topic}}</h2>
        </div>
        <div class="navRight">
            <h2 class="profile">{{roomObj.username}}</h2>
            <img alt="{{roomObj.username}} - profileImage" src="http://placehold.it/30x30"><img>
        </div>
    </div>

    <app-login *ngIf="!loggedIn" [(isAvailable)]="userNameAvailable" (attemptToLogIn)="logIn($event)"></app-login>
    <div id="content" *ngIf="loggedIn">
        <app-chatpicker></app-chatpicker>
        <app-currentchat [(activeRoom)]="roomObj.room"></app-currentchat>
        <app-chatdetails></app-chatdetails>
    </div>
</div>