<div id="chatPicker">
  <div class="room">
    <img alt="roomImg" src="http://placehold.it/30x30"><img>
    <h3>Lobby</h3>
  </div>
    <div class="room">
    <img alt="roomImg" src="http://placehold.it/30x30"><img>
    <h3>Lobby</h3>
  </div>
    <div class="room">
    <img alt="roomImg" src="http://placehold.it/30x30"><img>
    <h3>Lobby</h3>
  </div>
    <div class="room">
    <img alt="roomImg" src="http://placehold.it/30x30"><img>
    <h3>Lobby</h3>
  </div>
    <div class="room">
    <img alt="roomImg" src="http://placehold.it/30x30"><img>
    <h3>Lobby</h3>
  </div>
</div>
