@import '../../variables.sass'

#chatPicker
  width: 100%
  height: 100%
  background-color: $color-main
  .room
    display: flex
    align-items: center
    margin-bottom: 3px
    .roomName
      color: #333
      opacity: 0.9
      font-size: 1.5rem
      font-weight: bold
    img
      margin: 15px
      border-radius: 4px