$color-bg: #FFF5F5
$color-main: #D6E4FF
$color-main-accent: #5E80C0
$color-ownMessage: #0084ff
$color-otherMessage: #f1f0f0
$color-light: #9F9F9F

$size-picker: 20%
$size-current: 60%
$size-details: 20%

$size-nav: 55px

$padding-normal: 0 2%