$color-bg: #FFF5F5
$color-main: #FDFDFD
$color-main-accent: #5E80C0
$color-otherMessage: #f1f0f0
$color-light: #EFEFEF
$color-font-light: #AAA
$color-unread: rgba(213, 245, 226, 0.8)

$size-picker: 20%
$size-current: 60%
$size-details: 20%

$size-nav: 55px

$padding-normal: 0 2%