<div id="currentChat">
  <div class="openConvContainer">
    <div *ngFor="let conversation of chatRooms" [ngClass]="{'activeChat': isActive(conversation.name)}"  class="{{conversation.roomClass}}" (click)="changeRoom({room: conversation.name, topic: conversation.topic})">
      <h4>{{conversation.name}} {{conversation.unreadMessages}}</h4>
      <i (click)="leaveRoom({room: conversation.name, topic: conversation.topic})" class="fa fa-times exit" aria-hidden="true"></i>
    </div>
  </div>
  <div class="mainChat">
    <div class="message" *ngFor="let msgObj of getActiveRoomChat(); let indx = index" [ngClass]="{'unread': getUnreadMessages() < indx}">
      <div>
        <div class="avatar" [ngStyle]="{'background-color':msgObj.nick | namecolor}">{{msgObj.nick | initials}}</div>
      </div>
      <div>
        <div class="messageUser">{{msgObj.nick}}</div>
        <div class="messageText">{{msgObj.message}}</div>
      </div>
      <div class="messageTime">{{msgObj.timeStamp | date:'hh:mm'}}</div>
    </div>
  </div>
  <div class="inputContainer">
    <input [(ngModel)]="message" name="message" autofocus placeholder="Type a message.." (keyup)="sendMsg($event)">
    <div (click)="sendMsg('sendButton')"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></div>
  </div>
</div>