<div id="currentChat">
  <div class="mainChat">

    <div class="messageOuter">
      <img alt="chatHead" src="http://placehold.it/30x30">
      <div class="messageInner">
        <div class="messageStamp">
          <div class="messageUser">User</div>
          <div class="messageTime">13:18</div>
        </div>
        <div class="messageText">
          This is another message, it goes on the other side.
        </div>
      </div>
    </div>

    <div class="messageOuter">
      <img alt="chatHead" src="http://placehold.it/30x30">
      <div class="messageInner">
        <div class="messageStamp">
          <div class="messageUser">User</div>
          <div class="messageTime">13:18</div>
        </div>
        <div class="messageText">
          This is another message, it goes on the other side.
        </div>
      </div>
    </div>

    <div class="messageOuter">
      <img alt="chatHead" src="http://placehold.it/30x30">
      <div class="messageInner">
        <div class="messageStamp">
          <div class="messageUser">User</div>
          <div class="messageTime">13:18</div>
        </div>
        <div class="messageText">
          This is another message, it goes on the other side.
        </div>
      </div>
    </div>

    <div class="messageOuter">
      <img alt="chatHead" src="http://placehold.it/30x30">
      <div class="messageInner">
        <div class="messageStamp">
          <div class="messageUser">User</div>
          <div class="messageTime">13:18</div>
        </div>
        <div class="messageText">
          This is another message, it goes on the other side.
        </div>
      </div>
    </div>

        <div class="messageOuter">
      <img alt="chatHead" src="http://placehold.it/30x30">
      <div class="messageInner">
        <div class="messageStamp">
          <div class="messageUser">User</div>
          <div class="messageTime">13:18</div>
        </div>
        <div class="messageText">
          This is another message, it goes on the other side.
        </div>
      </div>
    </div>

    <div class="messageOuter">
      <img alt="chatHead" src="http://placehold.it/30x30">
      <div class="messageInner">
        <div class="messageStamp">
          <div class="messageUser">User</div>
          <div class="messageTime">13:18</div>
        </div>
        <div class="messageText">
          This is another message, it goes on the other side.
        </div>
      </div>
    </div>

    <div class="messageOuter">
      <img alt="chatHead" src="http://placehold.it/30x30">
      <div class="messageInner">
        <div class="messageStamp">
          <div class="messageUser">User</div>
          <div class="messageTime">13:18</div>
        </div>
        <div class="messageText">
          This is another message, it goes on the other side. This is another message, it goes on the other side. This is another message, it goes on the other side.This is another message, it goes on the other side.This is another message, it goes on the other side.This is another message, it goes on the other side.This is another message, it goes on the other side.This is another message, it goes on the other side.This is another message, it goes on the other side.This is another message, it goes on the other side.
        </div>
      </div>
    </div>


  </div>
  <input autofocus placeholder="Type a message..">
</div>